<div class="row">
  <div class="col-md-2">
    <app-filter></app-filter>
  </div>
  <div class="col-md-8">
    <app-product-list></app-product-list>
  </div>
  <div class="col-md-2">
    <app-cart></app-cart>
  </div>
</div>
