<h3>Your Cart</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of buy">{{item.name}} {{ item.cost}}
    <div>{{item.count}}
      <div class="btn" (click)="minusOne(item.name,item.cost,item.count)">-</div>
      <div class="btn" (click)="addOne(item.name,item.cost,item.count)">+</div>
    </div>
    <button class="btn" (click)="delete(item.name,item.cost,item.count)">delete</button></li>
  <li class="list-group-item active" *ngFor="let itemP of price">{{itemP}}</li>
  <div class="btn"><a routerLink="/pay">PAY</a></div>
</ul>
