<div class="container">
  <div>
    <li class="list-group-item active" *ngFor="let itemP of price">{{itemP}}</li>
  </div>
  <li class="list-group-item" *ngFor="let item of buy">You buy -- {{item.name}}. Price -- {{ item.cost}}
    <div>Count --{{item.count}}</div>
  </li>
  <div class="btn" (click)="pay()">Pay</div>
  <a routerLink="/shopping">Go BACK</a>

</div>
