<div class="col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtnJRfcBvmJuT2ClnCC_G4CqSro6ElaZU8SiLfyFF_bjwQfZ6R" alt="...">
      <div class="caption">
        <h3>{{product.name}}</h3>
        <p>{{product.text}}</p>
        <p>{{product.cost}}</p>
        <p><a  class="btn btn-primary" role="button" (click)="buyItem(product.name,product.cost,product.count)">Buy</a> <a  class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
</div>
