* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}
.blocksInfo,.blocksInfoQuestion,.blocksInfoResult,.blocksInfoFullResult{
    background-color: #504d4d82;
    margin: 30px;
    padding: 30px 200px;
}
.blocksInfoQuestion,.blocksInfoResult,.blocksInfoFullResult{
    display:none;
}
.header-info{
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    background-color: #504d4d82;
}
.buttonShowResult,.buttonAgain,.buttonSubmit,.buttonStart{
    border: 0;
    padding: 15px;
    margin: 0 20px;
    font-size: 1rem;
    border-radius:5%;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
}
.btn:hover {
    background: #179b77;
}
.list{
    list-style:none;
}
.li{
    border:1px solid gray;
    padding:10px;
    margin:10px;
    background-color: #ffffff;
}
.enable{
    background-color: #FF7614;
}
.wrong{
    background-color: #FF3100;
}
.correct{
    background-color: #179b77;
}

.li:hover{
    cursor:pointer;
    background:yellow;
}
.resultBlocks,.btn-result{
    display:flex;
    text-align:center;
    justify-content:center;
    margin:20px;
}

.block-result-info{
    position:relative;
    width:50%;
}
.result-img{
    min-height: 102px;
    margin:0;
    background:url(https://learn.javascript.ru/pack/modules/quiz/client/styles/quiz-results-indicator/chart.2ae19b183bdfa0bcaecc462b607fc969.svg) no-repeat;
}

.line {
    position: absolute;
    top: 96px;
    left: 50px;
    width: 45px;
    height: 4px;
    background-color: #d8d8d8;
    transform-origin: 100% 50%;
}
.interest{
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
    color: #ffffff;
}