*{
  margin:0;
  padding:0;
}
/*--------header--------*/
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1438px;

  &__header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 10px;

    .logo__text{
      color:$colorHeaderLogo;
      font-family: $fontLogo;
      padding: 20px 0 15px 15px;
      font-size: 43px;
    }

    .navigation__list{
      display: flex;
      justify-content: space-between;
      list-style: none;

      &-item{
        padding-top: 39px;
      }

      &-link{
        font-size: 16px;
        font-family: $fontStyleOne;
        padding:40px  27px 36px 25px;
        color: $colorHeaderLink;
        text-decoration: none;

        &:hover{
          background: $backgroundHeaderLinkHover;
          border-bottom: solid 3px $borderButtonHeaderLinkHover;
          color:$colorHeaderLinkHover;
        }
      }
      &-link_last-item{
        padding-right: 14px;
      }
    }
  }
}
.greeting{
  background:url('../img/greeting.png') no-repeat 100% 18%;
  height: 566px;

  &__bg-color{
    background-color: $mainImgBackground;
  }

  &__position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color:$colorGreetingBox;

    .greeting__left-slide{
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: $mainSlidesBackground;
      color:$mainSlidesColor;
      margin: 36px 0 0 28px;

      .arrow-left{
        margin: 12px 0 0 16px;
      }
    }

    .greeting__right-slide{
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: $mainSlidesBackground;
      color:$mainSlidesColor;
      margin: 36px 28px 0 0;

      .arrow-right{
        margin: 12px 0 0 20px;
      }
    }

    .greeting__main-text{
      text-align: center;
      margin-bottom:22px;

      .greeting__heading{
        font-family: $fontStyleTwo;
        font-size: 63px;
        letter-spacing: 3px;
        word-spacing: 3px;
        padding: 0 0 0 36px;
      }
      .greeting__main-text__simple-text{
        font-family: $fontStyleOne;
        font-size: 23px;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding-top: 27px;
        padding-bottom: 55px;
        line-height: 1.5;
      }

      .greeting__button{
        font-family: $fontStyleTwo;
        font-size: 26px;
        border-radius: 10px;
        padding: 17px 35px 17px 41px;
        border: solid 2px $colorGreetingBoxButton;
        letter-spacing: 2px;
        background: none;
        color: $colorGreetingBoxButton;
      }
    }
  }
}
.services{
  max-width: 1200px;
  margin: 104px auto 98px;
  display: flex;
  justify-content: space-around;

  &__item{
    max-width: 252px;
    width: 100%;

    &__logo{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto 41px auto;
      border: solid 3px $borderServiceLogo;

      .icons{
        color: $borderServiceLogo;
        padding: 31px 0 0 32px;
        font-size: 38px;
      }
    }

    &__head-text{
      text-align: center;
      font-size: 21px;
      color: $colorServiceHeadText;
      font-family: $fontStyleOne;
    }

    &__text{
      text-align: center;
      font-family: $fontStyleOne;
      font-size: 14px;
      padding-top: 16px;
      line-height: 26px;
    }
    &__button{
      max-width: 100px;
      width: 100%;
      margin: 17px auto 0;

      .more-inform{
        padding: 4px 11px 5px 13px;
        background: $colorServiceButtonBackground;
        color: $colorServiceButton;
        font-family: $fontStyleOne;
        border: solid 1px $colorServiceButtonBackground;
        font-size: 14px;
        border-radius: 5px;
      }
    }
  }
}
.gallery{
  background-color: $backgroundGalleryBox;

  &__head{
    text-align: center;
    font-size:42px;
    font-family: $fontStyleOne;
    color: $colorGalleryTitle;
    padding-top: 38px;
    padding-left: 7px;
    padding-bottom: 52px;
    font-weight: 400;
  }

  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1172px;
    padding-bottom: 24px;

    &-img{
      width: 371px;
      height: 315px;
      border-radius: 5px;
    }
  }

  &__button{
    text-align: center;
    padding-top: 31px;
    padding-bottom: 102px;

    &-gallery{
      background-color: $backgroundGalleryButtonAndBorder;
      font-family: $fontStyleTwo;
      font-size: 24px;
      color: $colorGalleryButton;
      border: solid 1px $backgroundGalleryButtonAndBorder;
      border-radius: 5px;
      padding: 16px 40px;
      letter-spacing: 1px;
    }
  }
}

.team-work{
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 24px;

  &__title{
    text-align: center;
    font-family: $fontStyleOne;
    font-size: 42px;
    color: $colorTeamBox;
    margin-top: 81px;
    padding-left: 26px
  }

  &__box{
    display: flex;
    justify-content: space-around;
    margin-top: 127px;
    margin-bottom: 78px;

    .team-work__item{
      text-align: center;
      max-width: 252px;
      width: 100%;

      &__logo{
        width: 202px;
        height: 202px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: $backgroundTeamLogo;
      }

      &__title-text,&__subtitle-text,&__main-text{
        font-family: $fontStyleOne;
      }

      &__title-text{
        margin-top: 65px;
        font-size: 21px;

      }

      &__subtitle-text{
        font-size: 14px;
        margin-left: 2px;
        margin-top: 3px;
        margin-bottom: 24px;
      }

      &__main-text{
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
.prize-bg{
  background-color: $backgroundPrizeBox;
}
.prize__container{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;

  .prize__box{
    max-width: 371px;
    width: 100%;

    &__list{
      text-align: center;
      list-style: none;

      .list-title{
        font-family: $fontStyleOne;
        background: $backgroundListTitle;
        color: $colorListTitle;
        font-size: 27px;
        padding: 18px 0 20px 0;
      }

      .list-cost{
        font-family: $fontStyleOne;
        background: $backgroundListCost;
        font-size: 21px;
        padding: 21px 0;
        border-bottom: 1px solid $borderButtonList;
      }

      .list-simple-item{
        font-family: $fontStyleOne;
        background: $backgroundSimpleList;
        font-size: 14px;
        padding:13px 11px 12px 0;
        border-bottom: 1px solid gray;
      }

      .list-button{
        background: $backgroundListButton;
        padding: 33px 0;
      }

      .button-buy-plan{
        padding: 6px 50px 10px;;
        color:$buttonListStyleColor;
        font-family: $fontStyleOne;
        font-size: 17px;
        background: $buttonListStyleBackground;
        border: none;
      }
      .button-buy-plan_medium-color,.list-title_medium-color{
        background-color: $mediumListStyle;
      }
    }
  }
}
.prize__container-position{
  padding: 119px 0 98px 0;
}
.client-reviews__box{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;

  .review{
    max-width: 642px;
    text-align: center;
    font-family: $fontStyleOne;
    padding: 137px 0 103px;

    &__title{
      padding-bottom: 33px;
      font-size: 38px;
      padding-right: 15px;
      word-spacing: 7px
    }

    &__text{
      font-size: 17px;
      word-spacing: 4px;
      line-height: 29px;
      width: 642px;
    }

    &__client-name{
      padding-top: 30px;
      font-size: 21px;
    }


  }
  .client-reviews__left-slide{
     margin-top: 18px;
     margin-left: 32px;
   }

  .client-reviews__right-slide{
    margin-top: 18px;
    margin-right: 32px;
  }
}
.contact{
  width: 100%;
  margin: 0 auto;
}
.contact-img{
  background:url('../img/contact.png') no-repeat 100% 100%;
  height: 691px;

  .contact__color-bg{
    background-color: $backgroundContactBox;

    .contact__title{
      text-align: center;
      color: $colorContactTitle;
      padding: 92px 0 103px 10px;
      font-size: 40px;
      font-family: $fontStyleOne;
    }

    .contact__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 102px;
      max-width: 1200px;
      font-family: $fontStyleOne;

      &__text-info{
        max-width: 475px;
        width: 100%;

        .text-info__title{
          padding-left: 18px;
          font-size: 23px;
          color: $colorContactTitle;

        }

        .text-info__text{
          padding: 6px 0 0 17px;
          font-size: 14px;
          color: $colorContactTitle;
        }
        .social-media {
          padding: 36px 0 0 10px;

          .fa {
            padding: 10px;
            font-size: 19px;
            width: 20px;
            text-align: center;
            text-decoration: none;
            margin: 5px 11px 2px 2px;
            border-radius: 50%;

            &:hover {
              opacity: 0.7;
            }
          }

          .fa-facebook {
            background: $backgroundFacebook;
            color: $faColorMedia;
          }

          .fa-twitter {
            background: $backgroundTwitter;
            color: $faColorMedia;
          }

          .fa-google {
            background: $backgroundGoogle;
            color: $faColorMedia;
          }
        }

        .contact-information{
          padding: 13px 0 0 20px;
          font-size: 14px;
          line-height: 25px;
          color: $colorContactInfo;
        }
      }

      .contact__box__form{
        max-width: 585px;
        width: 100%;

        .input-box{
          padding: 15px 54px 12px 20px;
          font-size: 15px;
          margin-right: 25px;
        }
        .input-box_email{
          margin: 0;
        }
        .textarea-box{
          margin-top: 30px;
          font-size: 18px;
          padding: 16px 2px 7px 18px;
        }
        .button-submit{
          margin-left: 397px;
          margin-top: 27px;
          padding: 11px 69px 15px 54px;
          font-size: 21px;
          background-color: $buttonContactBackground;
          border: 0;
          color: $buttonContactColor;
        }
      }
    }
  }
}