@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

$fontLogo:"Lobster";
$fontStyleOne:"Open Sans" , "Lato","Maven Pro";
$fontStyleTwo:"Open Sans Semibold","Lato","Maven Pro";

$white:#ffffff;
$lightWhite:#f8f9fb;
$darkerWhite:#f1f1f1;
$lightBlue:#49cbcd;
$lightBlueSecond:#44c0c2;
$lightBlueSecondOpacity:#44c0c280;
$mediumBlue:#55acee;
$blue:#3b5998;
$gray:#4e525d;
$red:#dd4b39;
$purple:#a897c6;
$blackOpacity:#00000033;
$darkenGray:#5a5d65;
$trolleyGrey:#808080;
$darkenBlue:#485460;

$colorHeaderLogo:$lightBlueSecond;
$colorHeaderLink:$darkenGray;
$colorHeaderLinkHover:$lightBlue;
$borderButtonHeaderLinkHover:$lightBlue;
$backgroundHeaderLinkHover:$lightWhite;
$mainImgBackground:$lightBlueSecondOpacity;
$mainSlidesBackground:$white;
$mainSlidesColor:$lightBlue;
$colorGreetingBox:$white;
$colorGreetingBoxButton:$white;
$borderServiceLogo:$lightBlue;
$colorServiceHeadText:$gray;
$colorServiceButton:$white;
$colorServiceButtonBackground:$lightBlue;
$backgroundGalleryBox:$darkerWhite;
$colorGalleryTitle:$gray;
$backgroundGalleryButtonAndBorder:$lightBlue;
$colorGalleryButton:$white;
$colorTeamBox:$gray;
$backgroundTeamLogo:$darkerWhite;
$backgroundPrizeBox:$darkerWhite;
$backgroundListTitle:$darkenBlue;
$colorListTitle:$white;
$backgroundListCost:$lightWhite;
$borderButtonList:$trolleyGrey;
$backgroundSimpleList:$white;
$backgroundListButton:$lightWhite;
$buttonListStyleColor:$white;
$buttonListStyleBackground:$darkenBlue;
$mediumListStyle:$lightBlue;
$backgroundContactBox:$blackOpacity;
$colorContactTitle:$white;
$backgroundFacebook:$blue;
$backgroundTwitter:$mediumBlue;
$backgroundGoogle:$red;
$faColorMedia:$white;
$colorContactInfo:$purple;
$buttonContactBackground:$lightBlue;
$buttonContactColor:$white;