<div class="row">
  <app-product-item *ngFor="let item of products" [product]="item"></app-product-item>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a (click)="onSetToPage(1)">1</a></li>
      <li><a (click)="onSetToPage(2)">2</a></li>
      <li><a (click)="onSetToPage(3)">3</a></li>
      <li><a (click)="onSetToPage(4)">4</a></li>
      <li><a (click)="onSetToPage(5)">5</a></li>
      <li>
        <a  aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
