<h3>Filter By Price</h3>
<div class="well">
  <form action="">
    <div class="form-group">
      <label for="from" class="control-label">From</label>
      <input type="number" id="from" class="form-control" (input)="onUpdateFrom($event)"/>
    </div>

    <div class="form-group">
      <label for="to" class="control-label">to</label>
      <input type="number" id="to" class="form-control" (input)="onUpdateTo($event)" />
    </div>

    <div class="btn btn-primary" (click)="filterPrice()">Filter</div>
  </form>
</div>
